[Unit]
Description=SolarGo service
After=network.target

#TODO change WorkingDirectory, ExecStart and user to the real values!
[Service]
WorkingDirectory=/home/pi/solargo 
ExecStart=/home/pi/solargo/solargo
User=pi
StandardOutput=inherit
StandardError=inherit
Restart=on-failure

[Install]
WantedBy=multi-user.target